        <ul id="mainnav">
            <li>
                <a href="{{ .Site.BaseURL }}/post/">
                <span class="icon"> <i aria-hidden="true" class="icon-quill"></i></span>
                <span> 博客 </span>
            </a>
            </li>
            <!--<li>-->
            <!--<a href="/project/">-->
                <!--<span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>-->
                <!--<span> 代码 </span>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="/presentation/">-->
                <!--<span class="icon"> <i aria-hidden="true" class="icon-stats"></i></span>-->
                <!--<span> 演讲 </span>-->
            <!--</a>-->
            <!--</li>-->
            <li>
            <a href="http://github.com/guanfuchen">
                <span class="icon"> <i aria-hidden="true" class="icon-13"></i></span>
                <span> 关于 </span>
            </a>
            </li>
            <li>
                <a href="{{ .Site.BaseURL }}/resume.pdf">
                    <span class="icon"> <i aria-hidden="true" class="icon-console"></i></span>
                    <span> 简历 </span>
                </a>
            </li>
        </ul>
